<TR>
	<TD colspan="2"><span class="name"><img src="<%= originalLink %>" width="100%" height="100%"></span></TD>
</TR>
<TR>
	<TD><span class="frontView"><input type=checkbox value='1' id="frontView">Front View</span></TD>
	<TD><span class="topview"><input type=checkbox value='1' id="topview">Top View</span></TD>
</TR>
<TR>
	<TD><span class="backview"><input type=checkbox value='1' id="backview">Backview</span></TD>
	<TD><span class="backyard"><input type=checkbox value='1' id='backyard'>Backyard</span></TD>
</TR>
<TR>
	<TD><span class="livingroom"><input type=checkbox value='1' id='livingroom'>Living Room</span></TD>
	<TD><span class="familyroom"><input type=checkbox value='1' id='familyroom'>Family Room</span></TD>
</TR>
<TR>
	<TD><span class="hitchen"><input type=checkbox value='1' id='kitchen'>Kitchen</span></TD>
	<TD><span class="dining"><input type=checkbox value='1' id='dining'>Dining</span></TD>
</TR>
<TR>
	<TD><span class="bedroom"><input type=checkbox value='1' id='bedroom'>Bedroom</span></TD>
	<TD><span class="closet"><input type=checkbox value='1' id='closet'>Closet</span></TD>
</TR>
<TR>
	<TD><span class="bathroom"><input type=checkbox value='1' id='bathroom'>Bathroom</span></TD>
	<TD><span class="laundry"><input type=checkbox value='1' id='laundry'>Laundry</span></TD>
</TR>

<TR>
	<TD><span class="exterior"><input type=checkbox value='1' id='exterior'>Exterior</span></TD>
	<TD><span class="stairs"><input type=checkbox value='1' id='stairs'>Stairs</span></TD>
</TR>

<TR>
	<TD colspan="2"><button class="btn btn-sm btn-success update-member">UPDATE</button></TD>
</TR>
