				<td><span class="id"><%= id %></span></td>
				<td><span class="name"><%= name %></span></td>
				<td><span class="description"><%= description %></span></td>
				<td>
					<button class="btn btn-sm btn-warning edit-project">Edit</button>
					<button class="btn btn-sm btn-danger delete-project"> Delete</button>
					<button class="btn btn-sm btn-success update-project" style="display:none"> update</button>
					<button class="btn btn-sm btn-danger cancel" style="display:none"> Cancel</button>
				</td>
