<!DOCTYPE html>
<html>
	<head>
		<title>Tasks</title>
		<link rel="stylesheet" href="../lib/bootstrap.css">
	</head>
	<body>
		<h1>My Tasks</h1>

		<br/>
		<div id='newTaskDiv'></div>
		
		<br/>
		<div class='tasks'></div>
		
        <script type="text/template" id="taskTemplate">
			<TD><span class="name"><%= name %></span></TD> 
			<TD>
				<button class="btn btn-sm btn-warning edit-task">Edit</button>
				<button class="btn btn-sm btn-danger delete-task"> Delete</button>
				<button class="btn btn-sm btn-success update-task" style="display:none"> update</button>
				<button class="btn btn-sm btn-danger cancel-task" style="display:none"> Cancel</button>
			</TD>
		</script> 
   		
		
        <script type="text/template" id="addTaskTemplate">
			<form id="addTask" action="">
				<input id="newTask" type="text" placeholder="Your new task">
				<input type="submit" value="Add Task">
			</form>
		</script>    		
		
        <script src="../lib/jquery.js"></script>    
        <script src="../lib/underscore.js"></script>    
        <script src="../lib/backbone.js"></script>    
		<script src="../lib/bootstrap.js" ></script></body>	
		
        <script type="text/javascript" src="../js/taskTest.js"></script> 
	</body>
</html>

