<!DOCTYPE html>
<html>
	<head>
		<title>Tasks</title>
		<link rel="stylesheet" href="../lib/bootstrap.css">
	</head>
	<body>
		<h1>My Tasks</h1>

		<br/>
		<div id='newTaskDiv'></div>
		
		<br/>
		<div class='tasks'></div>
		
        <script type="text/template" id="taskTemplate">
			<TD><%= name %></TD> 
			<TD><button class="btn btn-warning edit">Edit</button> <button class="btn btn-danger delete"> Delete</button></TD>
		</script> 
   		
        <script type="text/template" id="addTaskTemplate">
			<form id="addTask" action="">
				<input id="newTask" type="text" placeholder="Your new task">
				<input type="submit" value="Add Task">
			</form>
		</script>    		
		
        <script src="../lib/jquery.js"></script>    
        <script src="../lib/underscore.js"></script>    
        <script src="../lib/backbone.js"></script>    
		<script src="../lib/bootstrap.js" ></script></body>	
		
        <script type="text/javascript" src="../js/taskTest.js"></script> 
	</body>
</html>

